<%
var page = {
    navType: 'home',
    title: "Home"
};
%>
<!doctype html>
<html lang="en">
<head>
    <%- include('/_components/_meta.ejs') %>

    <link href="/assets/css/bootstrap/css/styles.css" rel="stylesheet"/>
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/assets/css/carousel.css" rel="stylesheet"/>

    <link href="/assets/css/variables.css" rel="stylesheet"/>
    <link href="/assets/css/common.css" rel="stylesheet"/>

    <style>


        main .carousel-caption .text-bg-dark {
            background: RGBA(33, 37, 41, 0.9) !important;
        }

        #services-section {
            background: var(--color-primary-100);
        }

        .services .content {
            display: flex;
            gap: 1rem;
            flex: auto;
            flex-wrap: wrap;
        }
        .services .card.residential-moving .card-img-top{
            padding: 0 3rem;
        }
        .services .card.commercial-moving .card-img-top{
            padding: 0 2.75rem;
        }
        .services .card.packing-unpacking .card-img-top{
            /*  height: 12rem;*/
        }
        .services .card {
            width: 18rem;
        }
        @media only screen and (max-width: 600px) {
            .services .card {
                width: 100%;
            }
        }
    </style>
</head>
<body>

<%- include('/_components/_topbar.ejs') %>
<%- include('/_components/_header.ejs') %>


<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bd-placeholder-img" width="100%" height="100%" src="/assets/images/banner.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

                <div class="container">
                    <div class="carousel-caption text-start">
                        <div class="row align-items-md-stretch">
                            <div class="col-md-6 offset-md-6">
                                <div class="h-100 p-5 text-bg-dark rounded-3">
                                    <h2>Welcome to <%= root.config.title%></h2>
                                    <p>Hire trusted & preferred moving company in US, Today</p>
                                    <button class="btn btn-primary" type="button">Get Moving</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div id="services-section" class="services  py-5">
        <div class="container">
            <div class="header">
                <h2><a class="anchor" name="services-anchor">Our Services</a></h2>
                <p>We specialize in performing solutions at</p>
            </div>
            <div class="content">
                <div class="card residential-moving">
                    <img class="card-img-top" src="/assets/images/residential-moving.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">RESIDENTIAL MOVING</h5>
                        <p class="card-text">We portray 360 degree customized solutions for Residential moving services to our dedicated customers.</p>
                        <a href="/services/residential-moving.html" class="btn btn-primary">Learn more</a>
                    </div>
                </div>

                <div class="card commercial-moving">
                    <img class="card-img-top" src="/assets/images/commercial-movers.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">COMMERCIAL MOVING</h5>
                        <p class="card-text">We are experienced in moving businesses and commercial grade equipment.</p>
                        <a href="/services/residential-moving.html" class="btn btn-primary">Learn more</a>
                    </div>
                </div>

                <div class="card packing-unpacking">
                    <img class="card-img-top" src="/assets/images/Box-Packaging.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PACKAGING & UNPACKING</h5>
                        <p class="card-text">We offer full packing and unpacking services. We also provide any and all materials needed for the given moving situation. </p>
                        <a href="/services/residential-moving.html" class="btn btn-primary">Learn more</a>
                    </div>
                </div>

                <div class="card residential-moving">
                    <img class="card-img-top" src="/assets/images/residential-moving.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Commercial Moving</h5>
                        <p class="card-text">We are experienced in moving businesses and commercial grade equipment.</p>
                        <a href="/services/residential-moving.html" class="btn btn-primary">Learn more</a>
                    </div>
                </div>

                <div class="card residential-moving">
                    <img class="card-img-top" src="/assets/images/residential-moving.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Commercial Moving</h5>
                        <p class="card-text">We are experienced in moving businesses and commercial grade equipment.</p>
                        <a href="/services/residential-moving.html" class="btn btn-primary">Learn more</a>
                    </div>
                </div>

                <div class="card residential-moving">
                    <img class="card-img-top" src="/assets/images/residential-moving.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Commercial Moving</h5>
                        <p class="card-text">We are experienced in moving businesses and commercial grade equipment.</p>
                        <a href="/services/residential-moving.html" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        #why-us-section .icon-container {
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 8rem;
        }
        #why-us-section .icon-container .bi{
            margin: auto;
        }
    </style>

    <div id="why-us-section" class="py-5">

        <div class="container">
            <div class="header">
                <h2><a class="anchor" name="why-us-anchor">Why US?</a></h2>
                <p>We specialize in performing solutions at</p>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="icon-container">
                            <i class="bi bi-tools"></i>
                        </div>
                        <h3>Complimentary Disassemble and Assemble Service</h3>
                        <p>From reconnecting your washer/dryer to reassembling a bedroom suit we will take care of anything and everything no matter the service!</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="icon-container">
                            <i class="bi bi-calculator"></i>
                        </div>
                        <h3>Free Estimaes</h3>
                        <p>We always offer our customers free estimates on all local, long-distance, or business and find the best moving option for not only ease of mind…but your budget as well. </p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="icon-container">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                        <h3>Cost Effective</h3>
                        <p>We provide flat-rate maximum estimates and do not require up front deposits or fees. Rest assured… you will not pay for our services until you’re 100% satisfied</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div>
        </div>
    </div>

    <%- include('/_components/_footer.ejs') %>



</main>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/scripts/main.js"></script>
</body>
</html>
