<%
var page = {
    navType: 'service',
    title: "Commercial Moving"
};
%>

<!doctype html>
<html lang="en">
<head>
    <%- include('../_components/_meta.ejs') %>

    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/assets/css/variables.css" rel="stylesheet"/>
    <link href="/assets/css/common.css" rel="stylesheet"/>
</head>
<body>

<%- include('../_components/_topbar.ejs') %>
<%- include('../_components/_header.ejs') %>

<main>
    <div class="jumbotron pt-5">
        <div class="container">
            <h1 class="display-3"><%= page.title %></h1>
            <div class="banner"></div>
            <p>Assuming that you are wanting to move your office in Texas then, at that point, enlist presumed office migration Services in Texas. We have tremendous organization of transportation and you can benefit office Relocation Services all over USA. Supported by our experienced team of professionals, <%=root.config.title%> is offering a qualitative range of office relocation services. We properly pack the goods using superior quality packaging material in order to ensure safe transit. Relocation services of Movers and Packers in Hyderabad include all the aspects related to loading & unloading of goods and their safe delivery to the destined place and within stipulated time frame.</p>

            <p>Office Relocation is currently simple with <%=root.config.title%>. We set up group of packers and movers that would save you from Relocation plans, Infrastructure required, Equipment required, Shipment of old office machines and Quotation for whole method. The meeting to generate new ideas would be finished by the movement specialist organizations. We use packaging material that is quality tested and in sync with the industry standards for packing all the items.</p>

            <p>We understand that your business is a special place for your clients, staff and you. That is why we go above and beyond to make sure everything is transported safely.</p>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%- include('../_components/_get_quotes.ejs') %>
            </div>
        </div>

    </div>

    <%- include('../_components/_accordion.ejs') %>

    <%- include('../_components/_footer.ejs') %>
</main>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/scripts/main.js"></script>
</body>
</html>
