<%
var page = {
    navType: 'service',
    title: "Specialty Moving"
};
%>

<!doctype html>
<html lang="en">
<head>
    <%- include('../_components/_meta.ejs') %>

    <link href="/assets/css/bootstrap/css/styles.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/assets/css/variables.css" rel="stylesheet"/>
    <link href="/assets/css/common.css" rel="stylesheet"/>
</head>
<body>

<%- include('../_components/_topbar.ejs') %>
<%- include('../_components/_header.ejs') %>

<main>
    <div class="jumbotron pt-5">
        <div class="container">
            <h1 class="display-3"><%= page.title %></h1>
            <div class="banner"></div>

            <p class="pt-3">Pianos, safes, hot tubs. You name it & we can do it. We understand that your items are special to you, that is why we go above and beyond to make sure everything is safely packaged and transported securely.</p>

            <p><%=root.config.title%> is well-equipped to help with all of your speciality moving needs and can help you move the following items:</p>
                <ul>
                    <li>Appliances</li>
                    <li>Billiard Tables</li>
                    <li>Clocks</li>
                    <li>Furniture</li>
                    <li>Fitness Equipment</li>
                    <li>TVs</li>
                    <li>Playground Equipment</li>
                    <li>Pianos</li>
                    <li>Museum Art</li>
                    <li>Safes</li>
                    <li>Home Theatre Systems</li>
                    <li>Hot Tubs/Spas</li>
                    <li>Smart Beds/Mattresses</li>
                </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%- include('../_components/_get_quotes.ejs') %>
            </div>
        </div>

    </div>
    <%- include('../_components/_accordion.ejs') %>
    <%- include('../_components/_footer.ejs') %>
</main>

<script src="/assets/css/bootstrap/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/scripts/main.js"></script>
</body>
</html>
