<%
var page = {
    navType: 'service',
    title: "Packaging & Unpacking"
};
%>

<!doctype html>
<html lang="en">
<head>
    <%- include('../_components/_meta.ejs') %>

    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/assets/css/variables.css" rel="stylesheet"/>
    <link href="/assets/css/common.css" rel="stylesheet"/>
</head>
<body>

<%- include('../_components/_topbar.ejs') %>
<%- include('../_components/_header.ejs') %>

<main>
    <div class="jumbotron pt-5">
        <div class="container">
            <h1 class="display-3"><%= page.title %></h1>
            <div class="banner"></div>

            <p class="pt-3">Packing and unpacking is often the most time consuming and frustrating part of the moving process.</p>

                <p>That is why we offer full packing and unpacking services and provide any and all materials needed for the given moving situation.</p>

            <p>We understand that your items are special to you, that is why we go above and beyond to make sure everything is safely packaged and transported securely.</p>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%- include('../_components/_get_quotes.ejs') %>
            </div>
        </div>

    </div>
    <%- include('../_components/_accordion.ejs') %>
    <%- include('../_components/_footer.ejs') %>
</main>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/scripts/main.js"></script>
</body>
</html>
