<%
var page = {
    navType: 'service',
    title: "Residential Moving"
};
%>

<!doctype html>
<html lang="en">
<head>
    <%- include('../_components/_meta.ejs') %>

    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/assets/css/variables.css" rel="stylesheet"/>
    <link href="/assets/css/common.css" rel="stylesheet"/>
</head>
<body>

<%- include('../_components/_topbar.ejs') %>
<%- include('../_components/_header.ejs') %>

<style>
    .banner {
        height: 20em;
        background: url("/assets/images/residential-moving-banner.jpg") center;
        background-size: cover;
    }
</style>

<main>
    <div class="jumbotron pt-5">
        <div class="container">
            <h1 class="display-3"><%= page.title %></h1>
            <div class="banner"></div>

            <p class="pt-3">House shifting is currently made simple with Major Movers. Be it a leased home or own house move it bother free with Major Movers. We offer quality types of assistance to our clients with the top most needs in client care all day, every day. Our family moving assistance group is best in managing whole shifting process. We have uniquely assembled boxes for Television sets so that there would be no harm by any means. We use packaging material that is quality tested and in sync with the industry standards for packing all the items. Recruiting a proficient house shifting organization can make your work so natural and dependable, and it will be a brilliant decision. We are mastery in moving your home it very well might be nearby or home-grown in all urban communities of Texas.</p>
            <p>Move your home hassle-free with Major Movers. Our master client assistance is accessible 24/7. Visit our office for more Information. We give Insurance to all products for security of our clients. We manage a wide range of family material moving. Our huge customer reviews tell us about our expertise in relocation services. We help in choosing different types of services for all your needs. Our Multi-model moving assists us with conveying home removal service quickly according to your necessity. We have also enabled all our systems with tracking system so that you can work with us seamlessly. Do visit our office for more information.</p>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%- include('../_components/_get_quotes.ejs') %>
            </div>
        </div>

    </div>

    <%- include('../_components/_accordion.ejs') %>

    <%- include('../_components/_footer.ejs') %>
</main>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/scripts/main.js"></script>
</body>
</html>
