<%
var page = {
    navType: 'service',
    title: "Residential Moving"
};
%>

<!doctype html>
<html lang="en">
<head>
    <%- include('../_components/_meta.ejs') %>

    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/assets/css/variables.css" rel="stylesheet"/>
    <link href="/assets/css/common.css" rel="stylesheet"/>
</head>
<body>

<%- include('../_components/_topbar.ejs') %>
<%- include('../_components/_header.ejs') %>

<main>
    <div class="jumbotron pt-5">
        <div class="container">
            <h1 class="display-3">Residential Moving</h1>
            <p>No matter if you are moving into your first home, growing your family home, moving closer to someone
                special or any of the thousands of other reasons, <b>we want to make the transition as smooth as
                    possible.</b></p>

            <p>We understand that your home is a special place filled with the things you love. That is why we go above
                and beyond to make sure everything is transported safely.</p>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%- include('../_components/_get_quotes.ejs') %>
            </div>
        </div>

    </div>
    <% var accordionData = {
        id: "acc1",
        items: [
            {
                title: "What kind of pricing do you offer?",
                content: `<p>Our prices have always been concrete. We offer flat-rate maximum estimates on all our moving services so you know what you pay up front.</p>

<p>We want to be the most transparent moving company you and your family has ever worked with. We also offer several budget friendly options based on where you are financially with your move.</p>

<p>Rest assured… you will not pay for our services until you’re 100% satisfied.</p>`
            },
            {
                title: "How much does Soldier Strong Moving's insurance cover?",
                content: `<p>At Soldier Strong Moving, LLC we offer $20,000 in cargo insurance & $300,000 in general liability insurance on every move we perform services on. However, we have had a few customers in the past express concern on not being insured up to the amount comfortable in their minds for the given items we are moving and relocating. If that’s the case, we have two companies we work with that can extend additional valuation coverage. Simply let us know and we will work out anything related to those concerns prior to beginning the moving process!</p>`
            },
            {
                title: "What kind of pricing do you offer?",
                content: `<p>Our prices have always been concrete. We offer flat-rate maximum estimates on all our moving services so you know what you pay up front.</p>

<p>We want to be the most transparent moving company you and your family has ever worked with. We also offer several budget friendly options based on where you are financially with your move.</p>

<p>Rest assured… you will not pay for our services until you’re 100% satisfied.</p>`
            },
            {
                title: "What kind of pricing do you offer?",
                content: `<p>Our prices have always been concrete. We offer flat-rate maximum estimates on all our moving services so you know what you pay up front.</p>

<p>We want to be the most transparent moving company you and your family has ever worked with. We also offer several budget friendly options based on where you are financially with your move.</p>

<p>Rest assured… you will not pay for our services until you’re 100% satisfied.</p>`
            },
            {
                title: "What kind of pricing do you offer?",
                content: `<p>Our prices have always been concrete. We offer flat-rate maximum estimates on all our moving services so you know what you pay up front.</p>

<p>We want to be the most transparent moving company you and your family has ever worked with. We also offer several budget friendly options based on where you are financially with your move.</p>

<p>Rest assured… you will not pay for our services until you’re 100% satisfied.</p>`
            },
            {
                title: "What kind of pricing do you offer?",
                content: `<p>Our prices have always been concrete. We offer flat-rate maximum estimates on all our moving services so you know what you pay up front.</p>

<p>We want to be the most transparent moving company you and your family has ever worked with. We also offer several budget friendly options based on where you are financially with your move.</p>

<p>Rest assured… you will not pay for our services until you’re 100% satisfied.</p>`
            },
            {
                title: "What kind of pricing do you offer?",
                content: `<p>Our prices have always been concrete. We offer flat-rate maximum estimates on all our moving services so you know what you pay up front.</p>

<p>We want to be the most transparent moving company you and your family has ever worked with. We also offer several budget friendly options based on where you are financially with your move.</p>

<p>Rest assured… you will not pay for our services until you’re 100% satisfied.</p>`
            }
        ]
    } %>
    <div class="container q-and-a py-5">
        <div class="accordion" id="<%= accordionData.id %>">

            <% accordionData.items.forEach((item, index) => {  %>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= accordionData.id %>_<%= index %>" aria-expanded="false" aria-controls="<%= accordionData.id %>_<%= index %>">
                            <%= item.title %>
                        </button>
                    </h2>
                    <div id="<%= accordionData.id %>_<%= index %>" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#<%= accordionData.id %>">
                        <div class="accordion-body">
                            <%- item.content %>
                        </div>
                    </div>
                </div>

            <% }) %>


        </div>
    </div>


    <%- include('../_components/_footer.ejs') %>
</main>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/scripts/main.js"></script>
</body>
</html>
