<%
function formatPhoneNumber(phoneNumberString) {
    var cleaned = ('' + phoneNumberString).replace(/\D/g, '');
    var match = cleaned.match(/^(1|)?(\d{3})(\d{3})(\d{4})$/);
    if (match) {
        var intlCode = (match[1] ? '+1 ' : '');
        return [intlCode, '(', match[2], ') ', match[3], '-', match[4]].join('');
    }
    return null;
}
%>
<div class="footer pt-5">
    <footer class="container">
        <div class="row">
            <div class="col-md-5 mb-3">
                <form>
                    <h5>Have a Question?</h5>
                    <p>Call Customer Service:  <a href="tel:<%= root.config.phone %>"><%= formatPhoneNumber(root.config.phone) %></a></p>
                    <p class="fw-bold">Open 7AM-6PM Everyday</p>
                    <p><%= root.config.address %></p>
                </form>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
            <div class="col-6 offset-md-1 col-md-2 mb-3">
                <h5>Main links</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/index.html#services-anchor" class="nav-link p-0 text-muted">Services</a></li>
                    <li class="nav-item mb-2"><a href="/index.html#why-us-anchor" class="nav-link p-0 text-muted">Why US?</a></li>
                    <li class="nav-item mb-2"><a href="/contact.html" class="nav-link p-0 text-muted">Contact</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5>Services</h5>
                <ul class="nav flex-column">
                    <% root.config.services.forEach(function(item) {%>
                        <li class="nav-item mb-2"><a href="<%= item.link%>" class="nav-link p-0 text-muted"><%= item.name%></a></li>
                     <% }) %>
                </ul>
            </div>


        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
            <p>&copy; 2022 <%= root.config.title%>. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"/>
                        </svg>
                    </a></li>
                <li class="ms-3"><a class="link-dark" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"/>
                        </svg>
                    </a></li>
                <li class="ms-3"><a class="link-dark" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"/>
                        </svg>
                    </a></li>
            </ul>
        </div>
    </footer>
</div>